#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = image_tag pin.image.url(:medium)
      .panel-body
        = pin.description
        = pin.user.email if pin.user
        = link_to 'Show', pin, class: 'btn btn-sm btn-primary'
      .panel-footer
        - if pin.user == current_user
          = link_to 'Edit', edit_pin_path(pin), class: 'btn btn-sm btn-primary'
          = link_to 'Delete', pin, class: 'btn btn-sm btn-primary', method: :delete, data: { confirm: 'Are you sure?' }