= render 'pages/home' unless user_signed_in?
#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url(:medium)), pin
      .panel-body
        = pin.description
        .clearfix
          = pin.user.name if pin.user
      
      - if pin.user == current_user
        .panel-footer
          = link_to raw('<span class="glyphicon glyphicon-edit"></span>'), edit_pin_path(pin)
          = link_to raw('<span class="glyphicon glyphicon-trash"></span>'), pin, method: :delete, data: { confirm: 'Are you sure?' }
.center
  = will_paginate @pins, renderer: BootstrapPagination::Rails